ul {
    list-style-type: none;
}

.list-item {
    text-align: start;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.list-item:hover {
    color: rgb(0, 171, 177);
    cursor: pointer;
}

.id {
    display: inline-block;
    font-size: 12px;
    padding: 16px;
    margin-right: 12px;
}

.time {
    display: inline-block;
    font-size: 14px;
    padding: 16px;
    margin-right: 12px;
}

.author {
    display: inline-block;
    font-size: 14px;
    padding: 16px;
    margin-right: 12px;
}

.author a {
    color: inherit;
    text-decoration: none;
}

.author a:hover {
    font-size: 14px;
    transition: all ease-in-out 0.2s;
}

.link {
    display: inline-block;
    font-size: 14px;
    padding: 16px;
    margin-right: 12px;
}

.link a {
    color: inherit;
    text-decoration: none;
}

.link a:hover {
    font-size: 14px;
    transition: all ease-in-out 0.2s;
}